<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.chat.transaction.mapper.SecureInvokeRecordMapper">

    <resultMap id="BaseResultMap" type="com.meteor.chat.transaction.domian.SecureInvokeRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="secureInvokeJson" column="secure_invoke_json" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="nextRetryTime" column="next_retry_time" jdbcType="TIMESTAMP"/>
            <result property="retryTimes" column="retry_times" jdbcType="INTEGER"/>
            <result property="maxRetryTimes" column="max_retry_times" jdbcType="INTEGER"/>
            <result property="failReason" column="fail_reason" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,secure_invoke_json,status,
        next_retry_time,retry_times,max_retry_times,
        fail_reason,create_time,update_time
    </sql>
</mapper>
